@model dynamic

<div style="max-width:866px;margin:auto auto auto auto">
<h1>Andrew Myhre Dot Com</h1>
    <p>This site uses Silverlight. I know, yuck.</p> 
    <p>Look, I made it when Silverlight was cool. Huh? It wasn't? No, honestly for about 5 minutes in 2009 it was cool.</p>
<p>So I'm afraid I have to ask you to go and <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0">download Silverlight</a>. Just so you can view my site. It's worth it though. (It's not worth it)</p>
<p>One of these days I'll get around to rebuilding my website. Til then, sorry. Just download the damn plugin and get over it.</p>
<p><br/>Love, Andrew</p>
</div>