@model dynamic

<div style="max-width:866px;margin:auto auto auto auto">
<h1>Andrew Myhre Dot Com</h1>
    <p>This site uses Silverlight. I know, it's sooooo early 21st century. Sorry, it's nothing personal. It also wasn't a religious choice.</p> 
    <p>I just had to squeeze out a website as quickly as I possible, and it's the quickest way I know how.</p>
<p>So I'm afraid I have to ask you to go and <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0">download Silverlight</a>. Just so you can view my site. It's worth it though. (It's not worth it)</p>
<p>I'll put up a HTML version some day and probably bin the whole thing and rebuild in HTML 5.</p>
<p><br/>Love, Andrew</p>
</div>