@model AndrewMyhre.com.Web.Controllers.AzureIndexViewModel

@{
    ViewBag.Title = "Azure log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Azure log</h2>
@Html.ActionLink("Re-generate Urls", "Generate")

@Html.Raw(Model.Log)